*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}
main {
    padding-top: 130px;
}

/* STYLE HEADER */

    .container-hdr {                             
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ff6900;
        padding: 20px 0;
        margin-bottom: 50px;
    }

/* STYLE ROW HEADER */
    .row-hdr {
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
    }

/* STYLE COLONNE HEADER */
    .col20 {
        display: flex;
        width: 20%;
    }

    .center{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* FINE STYLE COLONNE HEADER */


/* STYLE CONTENUTO COLONNE */

/* STYLE COLONNA SX */
    .col20 .content-sx a {
        display: inline-block;
        justify-content: left;
        align-items: center;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding-right: 10px;
        text-decoration: none;
    }

/* STYLE COLONNA CENTRALE */
    .content-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-menu img {
        display: flex;
        width: 20%;
    }

/* STYLE COLONNA DX */

    .col20-icon{
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .content-icons i{
        width: 32px;
        height: 32px;
        color: #fff;
        padding-left: 5px;
    }

/* FINE STYLE HEADER */


/* INIZIO MAIN */

.container-main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row-main {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: blue;
    flex-wrap: wrap;
}

.col33 {
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
}

.sfondo {
    position: relative;
    width: 100%;
}

/* .cont-pr img:hover{
    background-image: url(../img/1b.webp);
    position: relative;
    width: 100%;
} */

.square {
    padding: 5px 6px;
    font-size: 10px;
    color: #fff;
    font-weight: 700;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.white {
    background-color: #fff;
}

.position-relative {
    position: relative;
}

.cuore-label {
    position: absolute;
    right: 0;
    top: 10px;
}

.rect {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.price-offer-label {
    position: absolute;
    left: 0;
    bottom: 50px;
}

.price-offer {
    position: absolute;
    left: 50px;
    bottom: 50px;
}
/* STYLE DESCR PRODOTTO */
.brand {
    font-size: 18px;
}

.article{
    font-size: 20px;
    font-weight: 700;
}

.price {
    font-size: 16px;
}

.price .pr-ok {
    color: red;
    font-weight: 700;
}


/* FINE ROW MAIN */


/* STYLE SCONTO - DISPONIBILITA' - CUORE */




/* .sconto{                             
    background-color: green;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.cuore{                                 
    color: red;
    font-size: 35px;
    position: absolute;
    bottom: 0px;
    right: 50%;
} */

section:hover .cuore{                 
    display: inline-block;
}